In [1]:
'''
• Root Node: Root node is from where the decision tree starts. It represents the entire dataset, which further gets divided into two or more homogeneous
sets.
• Leaf Node: Leaf nodes are the final output node, and the tree cannot be segregated further after getting a leaf node.
• Splitting: Splitting is the process of dividing the decision node/root node into sub-nodes according to the given conditions.
• Branch/Sub Tree: A tree formed by splitting the tree.
• Pruning: Pruning is the process of removing the unwanted branches from the tree.
• Parent/Child node: The root node of the tree is called the parent node, and other nodes are called the child nodes.

'''

'\n• Root Node: Root node is from where the decision tree starts. It represents the entire dataset, which further gets divided into two or more homogeneous\nsets.\n• Leaf Node: Leaf nodes are the final output node, and the tree cannot be segregated further after getting a leaf node.\n• Splitting: Splitting is the process of dividing the decision node/root node into sub-nodes according to the given conditions.\n• Branch/Sub Tree: A tree formed by splitting the tree.\n• Pruning: Pruning is the process of removing the unwanted branches from the tree.\n• Parent/Child node: The root node of the tree is called the parent node, and other nodes are called the child nodes.\n\n'

In [2]:
'''
Decision Tree is a Supervised learning technique that can be used for both classification and Regression problems, but mostly it is preferred for solving
Classification problems. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision
rules and each leaf node represents the outcome.
o In a Decision tree, there are two nodes, which are the Decision Node and Leaf Node. Decision nodes are used to make any decision and have multiple
branches, whereas Leaf nodes are the output of those decisions and do not contain any further branches.
0 The decisions or the test are performed on the basis of features of the given dataset.
o It is called a decision tree because, similar to a tree, it starts with the root node, which expands on further branches and constructs a tree-like structure.
0 In order to build a tree, we use the CART algorithm, which stands for Classification and Regression Tree algorithm.
'''

'\nDecision Tree is a Supervised learning technique that can be used for both classification and Regression problems, but mostly it is preferred for solving\nClassification problems. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision\nrules and each leaf node represents the outcome.\no In a Decision tree, there are two nodes, which are the Decision Node and Leaf Node. Decision nodes are used to make any decision and have multiple\nbranches, whereas Leaf nodes are the output of those decisions and do not contain any further branches.\n0 The decisions or the test are performed on the basis of features of the given dataset.\no It is called a decision tree because, similar to a tree, it starts with the root node, which expands on further branches and constructs a tree-like structure.\n0 In order to build a tree, we use the CART algorithm, which stands for Classification and Regression Tree algorithm.\n'

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('dtree.csv')
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [5]:
X=df.iloc[:,1:4]
y=df.iloc[:,-1]
X

     Gender   Age  EstimatedSalary
0      Male  19.0          19000.0
1      Male  35.0          20000.0
2    Female  26.0          43000.0
3    Female  27.0          57000.0
4      Male  19.0          76000.0
..      ...   ...              ...
395  Female  46.0          41000.0
396    Male  51.0          23000.0
397  Female  50.0          20000.0
398    Male  36.0          33000.0
399  Female  49.0          36000.0

[400 rows x 3 columns]

In [6]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
label_Encoder = LabelEncoder()
X = X.apply(label_Encoder.fit_transform)
#X = label_Encoder.fit_transform(X)
X

     Gender  Age  EstimatedSalary
0         1    1                4
1         1   17                5
2         0    8               26
3         0    9               39
4         1    1               57
..      ...  ...              ...
395       0   28               24
396       1   33                8
397       0   32                5
398       1   18               17
399       0   31               20

[400 rows x 3 columns]

In [8]:
y = label_Encoder.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [9]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X.iloc[:,1:4],y)

DecisionTreeClassifier()

In [13]:
X_in=np.array([1,1])
y_predict=classifier.predict([X_in])
y_predict

array([0], dtype=int64)