In [1]:
'''
create table personal
(
id int primary key,
name varchar(30),
contactno varchar(15),
emailaddress varchar(50)
);
'''

'\ncreate table personal\n(\nid int primary key,\nname varchar(30),\ncontactno varchar(15),\nemailaddress varchar(50)\n);\n'

In [2]:
'''
cursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES ('2', 'Prateek', '12', '111'); ")
mydb.commit()
'''

'\ncursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES (\'2\', \'Prateek\', \'12\', \'111\'); ")\nmydb.commit()\n'

In [3]:
'''
name = ['Prateek','Sakshi','Adarsh']
contact=['12','32','33']
email = ['a','b','c']
for i in range(3):
cursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES ('{}', '{}', '{}', '{}'); ".format(i+3,name[i],contact[i],email[i]))
mydb.commit()
'''

'\nname = [\'Prateek\',\'Sakshi\',\'Adarsh\']\ncontact=[\'12\',\'32\',\'33\']\nemail = [\'a\',\'b\',\'c\']\nfor i in range(3):\ncursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES (\'{}\', \'{}\', \'{}\', \'{}\'); ".format(i+3,name[i],contact[i],email[i]))\nmydb.commit()\n'

In [4]:
'''
cursor.execute("SELECT * FROM customers")
myresult = cursor.fetchall()
for x in myresult:
  print(x)
'''

'\ncursor.execute("SELECT * FROM customers")\nmyresult = cursor.fetchall()\nfor x in myresult:\n  print(x)\n'